<div class="sensor-card">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" svgIcon="coolant-temperature"></mat-icon>
            <mat-card-title>Temperatur: {{currentTemperature$ | async}} °C
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div class="sensor-card">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" svgIcon="battery-charging-high"></mat-icon>
            <mat-card-title>Batterieladung: {{currentBattery$ | async}} %</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<div class="sensor-card">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" svgIcon="chart-sankey"></mat-icon>
            <mat-card-title>Stammwürze: {{currentGravity$ | async}} °Plato</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>